* {
  box-sizing: border-box;
  font-size: 90%;
}
body {
  display: flex;
}
.navbar1 {
  padding: 0 1rem;
  height: 2rem;
  background: rgba(197, 195, 192, 0.267);
  font-weight: bold;
  display: flex;
  justify-content: left;
  align-items: center;
}
.navbar2 {
  height: 2rem;
  width: 100vw;
  background: rgba(197, 195, 192, 0.267);
  display: flex;
  justify-content: right;
  align-items: center;
}
.btn {
  text-decoration: none;
  color: grey;
  flex-basis: 5rem;
}
@media only screen and (max-width: 1600px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .navbar1 {
    padding-top: 2rem;
    height: 2vh;
    font-size: 1.3rem;
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar2 {
    height: 20vh;
    display: flex;
    width: 100vw;
    flex-direction: column;
  }
}
