body {
  max-width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.btn {
  font-size: 1.5rem;
  border: 2px solid black;
  padding: 2rem 4rem;
  margin: 0rem 3rem;
  position: relative;
  overflow: hidden;
}
.btn1::before {
  content: "";
  position: absolute;
  background: yellow;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(-29%, -155%) rotate(-90deg);
  /* transform: rotate(-90deg);
  transform-origin: left top; */
  z-index: -1;
  transition: transform 1.5s ease-in-out;
}
.btn1:hover::before {
  transform: rotate(0deg);
}
.btn2::before {
  content: "";
  position: absolute;
  background: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  z-index: -1;
  transition: transform 1.5s ease-in-out;
}
.btn2 {
  transition: color 1.5s ease-in-out;
}

.btn2:hover::before {
  transform: translateX(0);
}
.btn2:hover {
  color: white;
}
.btn3::before {
  content: "YEAH!!";
  position: absolute;
  background: red;
  top: 0;
  left: 0;
  width: 100%;
  height: 67%;
  transform: translatey(-100%);
  transition: transform 1.5s ease-in-out;
}
.btn3:hover::before {
  transform: translateY(0);
  color: black;
  padding-top: 2rem;
}
.btn4::before {
  content: "Scale & Opacity";
  position: absolute;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: transform 1.5s ease-in-out;
}
.btn4:hover::before {
  transform: scale(2);
  color: white;
  background: black;
  opacity: 1;
}
